.guesses {
  background-color: #11a8ab;
  height: auto;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
  flex: 1 1 auto;
  flex-wrap: wrap;
  padding: 5px;
}

.guess-item {
  text-align: center;
  list-style-type: none;
  margin: 5px;
  flex: 0 0 26px;
  padding: 3px;
  background-color: yellow;
  border-radius: 2px;
}