body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  flex: 1 0 90%;
}

.App {
  text-align: center;
  margin: 15px;
  border-radius: 10px;
  background-color: #1F253D;
  flex: 1 0 90%;
  padding: 5%;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

.head, .new {
  margin: 10px;
  color: white;
  font-size: 30px;
}

.new {
  text-decoration: none;
}

.title {
  font-size: 50px;
  color: white;
}

.game-board {
  max-width: 500px;
  min-width: 500px;
  border-radius: 15px;
}